@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HEADER NAV BAR */
header {
    display: flex;
    padding: .9375rem 1.25rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 128, 114, 0.582);
    height: 100%;
    container-type: inline-size;
    container-name: header;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: .9375rem;
}

.TITULO{
    display: flex;
    padding: 20px;
}

button{
    padding: 10px;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner button{
    justify-content: center;
    align-items: center;
}
.banner button:hover{
    background-color: rgb(218, 120, 138);
}
@container header(min-width: 37.5rem) {}

/* ------------HEADER QUERIES */
@media(max-width:1024px) {
    header {
        justify-content: space-around;
    }
}

@media(max-width:768px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:24.6875rem) {
    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

header h1 {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: .625rem;
    text-align: center;
}

@media(max-width:24.6875rem) {
    .TITULO h1 {
        padding-top: 1.5625rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*                      -----------BUTTON COMPRA */



.gridInicio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
}


.seccionuno {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.secciondos {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.secciontres {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
}

.divuno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divuno article h2 {
    margin-top: 20px;
}

.divuno article h3 {
    margin-top: 20px;
}

.divuno article p {
    margin-top: 20px;
}

.divuno article a button {
    margin-top: 20px;

}

body {
    background-image: rosybrown;
}






/* .TITULO button {
    width: 100%;
    letter-spacing: .125rem;
    text-transform: uppercase;
    background-color: rgb(161, 19, 19);
    color: white;
    margin-left: 45%;
    width: 10%;

}


.profile{
    container-name: profile;
    container-type: inline-size;
}

.profile-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(145, 63, 63);
    max-width: 1400px;
}

.profile-data-container{
    max-width: 600px;
    padding: 12px;
}
.profile-img{
    max-width: 100%;
    width: 720px;

}

.profile-img-container{
    max-height: 500px;
    overflow: hidden;
}

h2{
    color: salmon;
}

.profile-skills-container h2 {
    color: salmon;
}

.profile-skill{
    list-style: none;
    display: flex;
    margin: 10px;
    max-width: 700px;
    align-items: center;
    margin-left: 0;
}
.load-bar{
    border: 2px solid salmon;
    border-radius: 8px;
    color: white;
    padding: 2px;
    font-size: 12px;
    width: 80%;
    margin: 4px;

}

.load-bar__bar{
    background-color: salmon;
    border-radius: 4px;
    padding: 4px 6px;
}

.bar--60{
    width: 60%;
}

.bar--80{
    width: 80%;
}

.bar--70{
    width: 70%;
}

.bar--90{
    width: 90%;
}

/* ---------- queries */

@container profile (min-width:720px) {
    .profile-wrapper {
        flex-direction: row;
        padding: 20px;
        background-color: transparent;
        margin: auto;
    }

    .profile-data-container {
        background-color: white;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .profile-data {
        max-width: 620px;
        background-color: white;
    }

    .profile-img-container {
        max-height: initial;
    }

    .profile-img {
        height: 100%;
        object-fit: cover;
        width: 620px;
    }
}


/* */
/* PROFILE MAIN ------------ */



/* .grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,1fr);
    gap: .625rem;
    padding: 10px;
    justify-items: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-evenly;
    border: 2px solid black;
    margin: 20px;
}

.grid-item:first-child{
    grid-area: 3/1/span 2/span 2;
    display: grid;
    grid-template-columns: subgrid; 
    grid-template-rows: subgrid;
    gap: .625rem;
    padding: 0;
    background-color: transparent;
}

.subgrid-item{
    background-color: salmon;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
}

.subgrid-item:first-child{
    order: 2;
    width: 350px;

}

.grid-item{
    background-color: blue;
    color: white;
    font-size: 60px;
    font-size: 30px;
    max-width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    display: flex;
} */


/* 
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(8,21.875rem);
    gap: 10px;
    padding: .625rem;
    justify-items: center;
    height: 600px;
}


.grid-item{
    background-color: salmon;
    font-size: 1.875rem;
    max-width: 100%;
    font-size: 3.75rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item:first-child{
    justify-self: self-end;
    grid-column-start: 6;
    grid-row-start: 8;

    max-width: 100%;
}
.grid-item:nth-child(2){
    background-color: black;
    grid-column-start: 3;
    grid-column-end: 2;
} */

/* .grid-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 28.125rem;
    border: .1875rem solid black;
    gap: 20px;
    padding: 1.25rem;
}

.grid-item {
    background-color: salmon;
    margin: .625rem;
    padding: .625rem;
    max-width: 100%;
}

.grid-item:first-child {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 3;
} */

/* .grid-item:first-child{
    width: 6.25rem;
} */
/* 

.card1{
    width: 6.25rem;
    height: 6.25rem;
    background-color:red;
    margin: .625rem;
}

.flexbox1 {
    display: flex;
    flex-direction: column;
}
.flex-item{

    background-color: red;
    margin: .625rem;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.flex-item:first-child{
    background-color: blue;
}

/* .divunoimg {

    background-color: rgb(0, 0, 0);
    width: 50rem;
    margin: auto;
    text-align: center;
    border-color: black;
    border-style: solid;
}

.card-venta1{
    background-color: salmon;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
width: 25rem;
margin:auto
}
.card-titulo1{
    padding-top: .625rem;
    font-size: 1.5625rem;
    margin: 0
    ;
}

.card-titulo2{
    font-size: 3.125rem;
    font-weight: 30px;
    letter-spacing: .125rem;
}

.card-parrafo{
    font-size: .9375rem;
    padding: .625rem;
} * */