@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HEADER NAV BAR */


header{
    display: flex;
    padding: .9375rem 1.25rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 128, 114, 0.582);
    width: 100%;
    height: 100%;
    container-type: inline-size;
    container-name: header;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

nav ul li  {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: .9375rem;
}

.TITULO{
    display: flex;
    padding: 20px;
    list-style: none;
}

button{
    padding: 10px;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner button{
    justify-content: center;
    align-items: center;
}
.banner button:hover{
    background-color: rgb(218, 120, 138);
}
@container header(min-width: 37.5rem) {}

/* ------------HEADER QUERIES */


@media(max-width: 768px) {


    .header {
        display: flex; /* Ocultar lista en pantallas pequeñas */
        flex-direction: column; /* Mostrar elementos en columna */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px;
    }

    .nav ul {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block; /* Mostrar icono del menú */
    }
}

@media only screen and (max-width: 468px) {
    .header {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .nav ul {
        border-bottom: 1px solid white;
    }

    .navbar-toggler {
        display: block;
        cursor: pointer;
    }
}

@media(max-width: 425px) {
    .header nav {
        display: flex; /* Ocultar lista en pantallas pequeñas */
        flex-direction: row; /* Mostrar elementos en columna */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        color: white;
        padding: 10px;
    }

    .nav ul {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
/* @media(max-width:1024px) {
    header {
        justify-content: space-around;
    }
}

@media(max-width:768px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:24.6875rem) {
    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
} */


@media(max-width:24.6875rem) {
    .TITULO h1 {
        padding-top: 1.5625rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*                      -----------BUTTON COMPRA */



.gridInicio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 35px;
    gap: 1.25rem;
}


.seccionuno {
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.secciondos {
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.secciontres {
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}

.divuno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divuno article h2 {
    margin-top: 20px;
}

.divuno article h3 {
    margin-top: 20px;
}

.divuno article p {
    margin-top: 20px;
}

.divuno article a button {
    margin-top: 20px;

}



footer {
    display: flex;
    background-color: #f96b55;
    color: white;
    padding: 25px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    opacity: 85%;
}
.redes-sociales{
    display: flex;
    flex-direction: column;
    gap: .3125rem;
    color: salmon;
    list-style: none;
    font-style: none;
}

.enlaces{
    display: flex;
    flex-direction: column;
    gap: .3125rem;
}

p::first-letter{
    font-size: 30px;
}


.content1 {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 80vh;
}

.content {
    text-align: center;
}

img {
width: 500px;;
    height: auto;
}

.button1 {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    box-shadow: 0px 0px 20px black;
    padding: 10px 20px;

}
/* -----------CREACION DE MEDIA */

@media(max-width: 600px){
        header {
            display: flex;
            flex-direction: column;
            top: 100%;
            width: 100%;
            background-color: #e57171;
        }
        .nav ul {
            display: block;
            cursor: pointer;
        }
    
    }

    @media(max-width: 600px){
        footer{

        }
    }
    @media only screen and (max-width: 468px) {
        .imgmedias {
            max-width: 50%; /* Por ejemplo, ajusta el tamaño según tus necesidades */
        }
    }